# use ESC to configure BWS server and access token instead of storing it locally:
eval $(esc open moltob/cloud/bitwarden --format shell)

# get remaining secrets from BWS:
eval $(bws secret list -o env | sed 's/^/export /')
